<!DOCTYPE html>
<html lang="en">
<head>
  <title>Foxhole Global HQ - Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Faa.png?1555496179680" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
 <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />-->
  <link rel="stylesheet" href="/_styles/global.css">
  <link rel="stylesheet" href="/_styles/style.css">
  <link rel="stylesheet" href="/_styles/index.css">
</head>
<body>    
    <div class="row">     
            <div class="col-lg-5">
              
           
                  <h2 id="roomheader" style="display: inline-block">
                  User Profile - Room List  <!--<br> SYSTEM IS BEING PATCHED. STANDBY.-->
                  </h2>
            </div>
            <div class="col-lg-2" id="patreoncontainer">
                <a id="patreon_href" href="https://www.patreon.com/Kastow"><img id="patreonpng" src="https://cdn.glitch.com/997d2984-5a06-45dd-ae57-6b2293efc72b%2F58481774cef1014c0b5e4992.png?v=1561304071931" />Patreon</a>
           
            </div>  
    
            <div class="col-lg-5" id="top">
            </div>
  </div>
   <h2> <button type="button" class="btn" onclick="window.createmodal.ShowModal()"  id="createRoomBtn">Create new HQ</button></h2>
   <div class="row"> 
   <div class="col-lg-6">

        <div id="test">
        </div>
  <!-- Button to Open the Modal -->
  
  <div id="itemlist" class="container indextable">   
    
       <table class="table table-condensed indextable" id="roomtable">
    
            <thead class="indextable darkheader" >
      
                <tr>
                  <th></th>
                  <th><p>Room name</p></th>
                  <th><p>Room admin</p></th>
                  <th><p>Room link</p></th>
                  <th><p>Your rank</p></th> 
                </tr>
           </thead>
    <tbody id="roomtablebody">
    <col width="20">
    </tbody>
  </table>
    
  </div> 
   
  
  
   
<div id="binfo">
  <p>
    Welcome to Foxhole Global HQ! 
  </p>
  <br />
  <p>
1) Steam users can create Rooms for either Steam users only, which allows for maximum security since it enables user management, 
 or rooms for both Steam and non steam users. The latter case will not allow for user management, although a Room password can be set.</p>
  <p>2) Users not logged in through Steam can only create Rooms for both Steam and non Steam users. A password can be set as well. </p>
  <br />
<p> - To invite people into the room, the browser address of that room is to be copied and shared.
  </p>
  <p> - Users can create multiple rooms that can be shared with different people.
  </p>
  <br>
  <p>Website optimised for Chrome and Firefox. </p>
   <br />  <p>Feedback and Suggestions: <a href="https://discord.gg/NzkxyhK" target="_blank"><img src="https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Fdisc.png?v=1560206167061" />https://discord.gg/NzkxyhK</a>        Join the <a href="https://forms.gle/vc93aKUmCjFgqWhw5" target="_blank">Survey</a></p>
<!--
<p>
    If you appreciate this project and wish it to continue development, you can support it with <a href="https://www.patreon.com/Kastow">donation</a>.
  </p>
  -->
  </div>
    </div>  
       <div class="col-lg-5" id="updates">
      <h4 id='updates-header'>Other tools worth checking out</h4>
      <p><a href='https://foxholeglobal.com/map'> Foxhole Interactive Map </a> 
        and 
        <a href='https://discordapp.com/oauth2/authorize?&client_id=465733906927190016&scope=bot&permissions=0'> bot </a> 
        by Sethfire</p>
      <p><a href='https://foxholestats.com/'>Foxhole Stats</a> by Hayden</p>
      <p><a href='https://discordapp.com/api/oauth2/authorize?client_id=647554120030617600&permissions=117760&scope=bot'>
      Foxhole Tech Bot</a> by Kastow</p>
      <p><a href='http://www.foxholetech.net/'> Foxhole Tech Counter</a> by Automatic Hydromatic</p>
      <p><a href='https://github.com/XeniacDev/FoxholeArtillery-Windows'>Artillery Calculator </a> by WarCrimes</p>
  </div>
  </div>    
      

  <div id="createModalContainer"></div>
  <div id="leaveModalContainer"></div>
      
</body>
<script type="text/javascript" src="/webpack/index.js"></script>
</html>
