<!DOCTYPE html>
<html lang="en">
<head>
  <title>Foxhole Global HQ - Room Access Request</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link id="favicon" rel="icon" href="https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Faa.png?1555496179680" type="image/x-icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 <!--  <link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />-->
    <link rel="stylesheet" href="/_styles/request.css">
  <link rel="stylesheet" href="/_styles/style.css">
</head>
<body>
<div class="container" id="container">
  <!--
  <div class="modal" id="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Request room access</h4>
        </div>
        <div class="modal-body">
        <div >          
        <h5 id="wrapper">            
          This is a room <span id="roomname"></span> created by <a id="adminname"></a>
        </h5>
          <button type="button" class="btn" id="requestBtn"></button>
          </div>
          <br>
        </div>
      </div>
    </div>
  </div>-->
</div>
</body>
<script type="text/javascript" src="/webpack/request.js"></script>
</html>


