body{
  animation: fadeIn 1s;
background: url(https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Fdd3f06b2-b7d4-4ccc-8675-05897efc4bb5_BG_1080.jpg?v=1560453782052);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: center center; 
  background-attachment: fixed;
  background-color: transparent;}


.indextable.darkheader{
 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #292929), color-stop(1, #525152));
    background: -moz-linear-gradient(top, #292929 5%, #525152 100%);
    background: -webkit-linear-gradient(top, #292929 5%, #525152 100%);
    background: -o-linear-gradient(top, #292929 5%, #525152 100%);
    background: -ms-linear-gradient(top, #292929 5%, #525152 100%);
    background: linear-gradient(to bottom, #292929 5%, #525152 100%);
    -moz-box-shadow: 2px 2px 3px 0px #000000;
    -webkit-box-shadow: 2px 2px 3px 0px #000000;
    box-shadow: 2px 2px 3px 0px #000000;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-color: black;
  	color: #d6d6d6;
	padding: 0px 0px;
border: 2px solid black;
  text-decoration: none;
font-weight: normal;
 border-radius: 2px;
}

#createRoomBtn {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #292929), color-stop(1, #525152));
	background:-moz-linear-gradient(top, #292929 5%, #525152 100%);
	background:-webkit-linear-gradient(top, #292929 5%, #525152 100%);
	background:-o-linear-gradient(top, #292929 5%, #525152 100%);
	background:-ms-linear-gradient(top, #292929 5%, #525152 100%);
	background:linear-gradient(to bottom, #292929 5%, #525152 100%);
  
  
  
  
  
  -moz-box-shadow: 2px 2px 3px 0px #000000;
	-webkit-box-shadow: 2px 2px 3px 0px #000000;
	box-shadow: 2px 2px 3px 0px #000000;
	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
border-color: black;
  	color: #d6d6d6;

	background-color: #292929;
	padding: 0px 0px;
  margin-top:4px;
 text-align: center;
  text-decoration: none;
display: inline-block;
 border-style: solid;
 border-radius: 2px;
  height: 40px;
 width:180px; 
margin-left: 15px;
}

#createRoomBtn:hover {-moz-box-shadow: 2px 2px 3px 0px #000000;
	-webkit-box-shadow: 2px 2px 3px 0px #000000;
	box-shadow: 2px 2px 3px 0px #000000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #585858), color-stop(1, #525152));
	background:-moz-linear-gradient(top, #585858 5%, #525152 100%);
	background:-webkit-linear-gradient(top, #585858 5%, #525152 100%);
	background:-o-linear-gradient(top, #585858 5%, #525152 100%);
	background:-ms-linear-gradient(top, #585858 5%, #525152 100%);
	background:linear-gradient(to bottom, #585858 5%, #525152 100%);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
border-color: black;
  	color: #d6d6d6;

	background-color: #585858;
	padding: 0px 0px;

  margin-top:4px;
 text-align: center;
  text-decoration: none;
display: inline-block;
 border-style: solid;
 border-radius: 2px;
  height: 40px;
 width:180px;
margin-left: 15px;}


#createRoomBtn:active {
	-moz-box-shadow: 0px;
	-webkit-box-shadow: 0px;
	box-shadow: 0px ;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
border-color: black;
  	color: #d6d6d6;
	background-color: #585858;
	padding: 0px 0px;
  margin-top:4px;
 text-align: center;
  text-decoration: none;
display: inline-block;
 border-style: solid;
 border-radius: 2px;
  height: 40px;
 width:180px;
margin-left: 15px;}


.faction_img{width: 80px;}

  #mapw{
    float: right;
  }
  
  #index_createmodal_body{
      background-color:rgba(0,0,0,0.6);
  }
  #index_createmodal_header{  background-color:rgba(0,0,0,0.6);}
  #patreonpng{
   width:20px;
  height:20px;
  }
#patreoncontainer{
  display:flex;
  padding-top:7px;
  padding-bottom:8px;
  font-size: 20px;
}
#patreon_href{
  align-self:center;
}

#index_createmodal_content{
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.modal-content{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #737373;
    background-clip: padding-box;
    border: 2px solid rgb(19, 19, 19);
    border-radius: 2px;
    outline: 0;
  box-shadow: 2px 2px 6px black;}