#squads_create_btn,
#squads_create_btn:hover {
  padding-right: 20px;
  padding-left: 20px;
  color: #d6d6d6;
  border: 1px solid black;
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-radius: 1px;
  border-color: #212529;
}

#squads_create_btn {
  background-color: #292929;
}
#squads_create_btn:hover {
  background-color: #494949;
}
.squads_squadcontainer {
  width: 200px;
  margin-right: 10px;
  display: inline-block;
}
.squads_squadcontainer_descIcon {
  height: 100%;
  width: 20px;
  height: 20px;
  display: table-cell;
  text-align: center;
}
.squad_user_row {
  display: inline-table;
  width: 100%;
}
.squad_user_avatar,
.squad_user_avatar_cell {
  width: 30px;
  height: 30px;
}
.squad_user_name_cell {
  text-align: left;
  max-width: 0px;
  min-width: 100%;
  margin: 0px;
}
.squads_squadtable {
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 150px;
  max-width: 200px;
  border-radius: 1px;
  margin-top: 5px;
}
.squads_btn_leavejoin {
  padding-right: 20px;
  padding-left: 20px;
  color: #d6d6d6;
  background-color: #292929;
  border: 1px solid black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-radius: 1px;
  border-color: #212529;
  width: 100%;
}

.squads_btn_leavejoin:hover {
  padding-right: 20px;
  padding-left: 20px;
  color: #d6d6d6;
  background-color: #494949;
  border: 1px solid black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-radius: 1px;
  border-color: #212529;
  width: 100%;
}

.squad_user_avatar {
  width: 20px;
  height: 20px;
}

.squad_user_name {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#squadtab.container.tab-pane.show.active {
  animation: fade00in 0.7s;
}

@keyframes fade00in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.squads_squadcontainer {
  animation: fade00in 0.5s;
}

#squads_totalcontainer {
  margin-top: 15px;
}

.squad_name_input {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 8px;
  border: 0px;
  color: white;
  width: 100%;
}

.squad_name_row {
  display: table;
}
.squad_name_span {
  display: table-cell;
  padding-left: 5px;
  width: 100%;
}
.squad_name_text {
  display: table-cell;
  padding-left: 5px;
}
.squad_role_select {
  width: 40px;
  background-color: transparent;
  border: 0px;
}

#squad_role_popover {
  color: #d6d6d6;
  background-color: #292929;
  border: 2px solid #1b1b1b;
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-radius: 1px;
  padding: 7px;
}

.popover_submit_btn {
  padding: 0px;
  opacity: 0.5;
  color: #d6d6d6;
  text-align: left;
}

.popover_submit_img {
  margin-left: 0px;
}
.popover_submit_btn:hover {
  opacity: 1;
  color: #d6d6d6;
  text-align: left;
}

.popover_role_cell {
  text-align: left;
}

#squads_armycomp_vehicle_list {
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0 !important;
  height: 75px;
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #212529;
}

.squads_armycomp_vehiclebtn {
  background-color: transparent;
  border: 0px;
  outline: 0 !important;
  text-align: center;
  height: 55px;
}
.squads_armycomp_vehicleimg {
  outline: 0 !important;
  width: 55px;
  opacity: 0.6;
  text-align: center;
}

.squads_armycomp_vehicleimg:hover {
  outline: 0 !important;
  width: 55px;
  opacity: 1;
}

#squads_armycomp_header {
  margin-top: 20px;
}
.squads_armycomp_card {
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  outline: 0 !important;
  width: 350px;
  position: relative;
  font-size: 12px;
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #212529;
}
.squads_armycomp_card_row {
  height: max-content;
}
.squads_armycomp_card_img {
  width: 55px;
}
.squads_armycomp_card_img_col {
  max-width: max-content;

  padding-left: 3px;
  padding-right: 0px;
}

.squads_armycomp_card_joinbtn {
  height: 20px;
  text-align: center;
  font-size: 12px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}

.squads_armycomp_card_p {
  width: max-content;
}
.squads_armycomp_category_col {
  max-width: 200px;
  padding: 0px;
  width: 71px;
  vertical-align: top;
}
.squads_armycomp_category_col_selected {
  background-color: rgba(0, 0, 0, 1);
}
.squads_armycomp_vehicle_categoryimg {
  opacity: 1;
}
.row.squads_armycomp_vehicle_row {
  width: max-content;
}
#squad_armycomp_table {
  max-width: 200px;
}
.squads_armycomp_itemcell {
  position: relative;
  height: 55px;
}
.squads_armycomp_crewamount_p {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  position: absolute;
  bottom: 2px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 11px;
  text-align: center;
}
.squads_armycomp_card_remove_btn {
  width: 25px;
  height: 25px;
  padding: 0px;
  border: 0px;
  right: 0px;
  top: 0px;
  position: absolute;
  background-color: transparent;
}
#squads_armycomp_category_addbtn {
  background-image: url(https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Farb4.png?v=1560259563157);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0px;
  margin: 0px;
  font-size: 11px;
  width: 100%;
  display: block;
  height: 18px;
}

.squads_armycomp_card_td2 {
  text-align: left;
}
.squads_armycomp_card_td1 {
  width: 1px;
  height: 24px;
}
.squads_armycomp_card_img_col2 {
  padding-left: 5px;
  padding-right: 25px;
}
.squads_armycomp_category_col_selected
  .squads_armycomp_vehiclebtn
  .squads_armycomp_vehicleimg {
  opacity: 1;
}

#squads_rolecounter_table {
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #212529;

  display: inline-table;
  height: 30px;
  color: #d6d6d6;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  width: max-content;
}

.popover_role_cell {
  height: 30px;
  margin: 0px;
  text-align: left;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

#rtb {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 18px;
  padding-left: 5px;
}

#squads_roleselect_table {
  height: 50px;
  display: inline-table;
  width: max-content;
  margin-left: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #d6d6d6;
  text-align: left;
  padding: 0px;
  -moz-box-shadow: 2px 2px 3px 0px #000000;
  -webkit-box-shadow: 2px 2px 3px 0px #000000;
  box-shadow: 2px 2px 3px 0px #000000;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border: 2px solid #212529;
}

.squad_role_empty {
  margin-right: 10px;
  opacity: 0.3;
  display: inline-block;
}

.squad_role_notempty {
  margin-right: 10px;
}

.squads_roleselect_header {
  background-color: rgba(0, 0, 0, 0.5);
}

/*////////////////////////////////////////////////STATS BEGIN HERE /////////////////////////////////////*/
.collie_text {
  color: #65875e;
}
.collie-bg {
  background-color: #65875e;
}
.warden_text {
  color: #2d6ca1;
}
.warden-bg {
  background-color: #2d6ca1;
}
.white-bg {
  background-color: #d6d6d6;
}
#stats_table_cas {
  margin-top: 0px;
}

.stats_div_header {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.stats_div { 
  width: 300px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  margin-left: 0px;
  text-decoration: none;
  color: #d6d6d6;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 1px;
  text-shadow: 1px 1px 1px black, 1px 2px 4px black;
}
#stats_cas_col {
  width: 280px;
  max-width: 280px;
  padding: 0px;
  margin-left: 5px;
}

#statstab.container.tab-pane.active.show {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url(https://cdn.glitch.com/84b19724-a86b-4caa-8e69-1e9c973e043f%2Fdd3f06b2-b7d4-4ccc-8675-05897efc4bb5_dd3f06b2-b7d4-4ccc-8675-05897efc4bb5_BG_1080.jpg?v=1565480198799);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 200px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 0px;
  animation: fadeIn 0.5s;
}

.armytb {
  background-color: rgba(0, 0, 0, 0.6);
}

.stats_condition_img {
  display: inline-block;
  background-color: gray;
  padding: 0px;
  border-radius: 100px;
  width: 26px;
  height: 26px;
}
.stats_stateofthewar_img {
  opacity: 0.8;
  display: inline-block;
  padding: 0px;
  width: 22px;
  height: 22px;
}
.stats_condition_text,
.stats_condition_text_total {
  display: inline-block;
  background-color: gray;
  width: 35px;
  margin-left: 5px;
}
.stats_condition_text_total {
  width: 64px;
}

#stats_victory_col.col {
  height: 185px;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  flex-grow: 1;
  max-width: 70vw;
}

#stats_progress {
  margin-top: 10px;
  height: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 1px;
  background-color: transparent;
  position: relative;
}

#stats_progress:after {
  position: absolute;
  left: 50%;
  top: 0%;
  height: 100%;
  background: #3c3c3c;
  content: "";
  width: 1px;
  display: block;
}
#soon {
  background-repeat: no-repeat;
  width: 700px;
  height: 500px;
  background-image: url(https://cdn.glitch.com/dd3f06b2-b7d4-4ccc-8675-05897efc4bb5%2Fsoon.jpg?v=1560990599207);
  margin-top: 50px;
  margin-left: 20px;
}

.stats_table_separator,
.stats_table_separator td {
  height: 10px;
}

.stats_table_towns {
  padding-top: 9px;
  padding-left: 7px;
  padding-right: 5px;
  padding-bottom: 1px;
}

.stats_table_counter_special {
  color: #b39c78;
}

.stats_scount_cell {
  width: 50%;
  height: 20px;
}

.stats_scount_img {
  width: 25px;
  height: 25px;
}

.stats_scount_span {
  margin-left: 2px;
  vertical-align: middle;
  line-height: 1;
}
#stats_scount_col {
  width: 200px;
  max-width: 200px;
  padding-left: 0px;
}
.stats_faction_img {
  width: 60px;
  margin-top: 5px;
}
#stats_win_col {
  max-width: 280px;
}

.stats_scount_cell {
  font-size: 14px;

  border-bottom: 1px dotted #00000059;
}

#stats_cas_toptable tbody {
  font-size: 14px;
}

@keyframes wiggle {
  0% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(2px, 0);
  }
}

#stats_stateofthewar_col {
  max-width: 380px;
  padding-right: 0px;
  width: 380px;
  min-width: 380px;
}
#stats_wincondition_row {
  display: flex;
  justify-content: space-between;
}
#stats_scount_separator td {
  height: 2px;
}
#stats_table_scount {
  padding: 0px;
  margin-top: 10px;
  width: 175px;
  max-width: 175px;
  height: max-content;
}

#separator {
  padding-left: 2px;
  padding-right: 2px;
  color: #9a9a9a;
  display: inline-block;
}

#stats_map_container {
  width: 100%;
  height: max-content;
}

.stats_graph_plot {
  position: relative;
}

.stats_graph_plot:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #3c3c3c;
  content: "";
  width: 100%;
  display: block;
}

.leaflet_stats_datecontrol {
  padding-bottom: 11px;
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
}

.stats_castable_top_td {
  width: 50px;
  text-align: left;
}
.stats_castable_hour_td {
  width: 50px;
  text-align: left;
}
#stats_table_tophour td {
  height: 26px;
}
.stats_table_totalcas_total {
  width: 105px;
}
.stats_table_totalcas_hour {
  width: 60px;
}

#stats_casualtytop_tr_colonials {
  color: #65875e;
}

#stats_casualtytop_tr_wardens {
  color: #2d6ca1;
}

#stats_casualtytop_tr_total {
  color: #a5a5a5;
}

.stats_scount_ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.stats_scount_ul {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: text-top;
}

.stats_timelapse_btn_img {
  padding: 4px;
  opacity: 0.8;
  height: 26px;
  width: 26px;
}

.stats_timelapse_btn {
  margin-top: 11px;
  margin-left: 11px;
  padding: 0px;
  background-color: #292929;
  border-top: 2px outset #242424;
  border-right: 2px outset #363636;
  border-bottom: 2px outset #363636;
  border-left: 2px outset #242424;
  border-radius: 1px;
  color: #d6d6d6;
  height: 33px;
  width: 33px;
}

.stats_timelapse_btn:hover {
  background-color: #3131313d;
}

.stats_timelapse_btn:selected {
  outline: 0 !important;
}

.stats_timelapse_btn:active {
  outline: 0 !important;
}

.stats_timelapse_btn:visited {
  outline: 0 !important;
}

.stats_castable_top_td_active {
  padding-left: 4px;
  text-align: left;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  animation: fadeIn 0.7s;

  animation-timing-function: linear;
}

.stats_castable_top_td_inactive {
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  padding-left: 4px;
  text-align: left;
  color: #464646;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.stats_stateofthewar_text {
  font-size: 16px;
  width: 64px;
  display: inline-block;
}

.stats_table_totalcas_total ul,
.stats_table_totalcas_hour ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#stats_toptowns {
  height: 100%;
  margin-top: 10px;
  padding: 0px;
}
#stats_map_container_inner {
  width: 100%;
  padding-right: 5px;
  height: 800px;
}

#stats_warhistory_container {
  max-width: 1060px;
  margin-top: 15px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: left;
  width: 100%;
  color: #d6d6d6;
}

#stats_warhistory_container thead {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  color: #d6d6d6;
}

#stats_warhistory_container td {
  text-align: left;
}

#stats_warhistory_container tr {
  text-align: right;
  border-bottom: 1px solid black;
}

.stats_warhistory_winnericon {
  width: 30px;
  height: 30px;
}

.stats_warhistory_winnercollie {
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    #3e5a39
  );
  color: #65875e;
}
.stats_warhistory_winnerwarden {
  color: #2d6ca1;
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    rgba(255, 0, 0, 0),
    #2c506f
  );
}

.stats_scount_li {
  margin-top: 2px;
  animation: fadeIn 0.7s;
}

.stats_toptowns_nametd {
  text-align: left;
  animation: fadeIn 0.7s;
  -webkit-animation: flipinx 1s ease 0s 1 normal;
  -moz-animation: flipinx 1s ease 0s 1 normal;
  -ms-animation: flipinx 1s ease 0s 1 normal;
  animation: flipinx 1s ease 0s 1 normal;
}

@-webkit-keyframes flipinx {
  0% {
    opacity: 0;
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: perspective(400px) rotateX(0deg);
    transform: perspective(400px) rotateX(0deg);
  }
}

@keyframes flipinx {
  0% {
    opacity: 0;
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateX(0deg);
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

#stats_stateofthewar_col .stats_div {
  height: 187px;
}

#stats_wincondition_row {
  height: 187px;
  margin-bottom: 5px;
}

#stats_timelapse_date {
  background-color: rgba(0, 0, 0, 0.6);

  text-align: left;
  width: 200px;
  color: #bfbfbf;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;

  font-size: 22px;
  border-radius: 1px;
  font-family: Jost;
}

.rc-slider-step {
  position: absolute;
  width: 100%;
  height: 6px;
  background: #1d1d1db5;
}

.rc-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 50%;
  border: solid 1px #000000;
  background-color: #d2d2d2;
  touch-action: pan-x;
  box-shadow: 0px 0px 4px 1px #fdfdfd;
}

.map_icon_timelapse_active_colonials {
  animation: bright3 15s;
}

.map_icon_timelapse_active_wardens {
  animation: bright3 15s;
}

.map_icon_timelapse_active_neutral {
  filter: brightness(85%);
}

#stats_map_container .leaflet-tile-pane {
  filter: sepia(10%) brightness(80%) contrast(80%)
    drop-shadow(0px 0px 5px black);
}

.stats_map_tiles {
  filter: brightness(70%) grayscale(50%);
}

@keyframes bright2 {
  0% {
    filter: brightness(100%);
  }
  48% {
    filter: brightness(200%);
  }
  60% {
    filter: brightness(200%);
  }
  100% {
    filter: brightness(200%);
  }
}

@keyframes bright3 {
  0% {
    filter: brightness(180%);
  }
  2% {
    filter: brightness(100%);
  }
  4% {
    filter: brightness(180%);
  }
  6% {
    filter: brightness(100%);
  }
  10% {
    filter: brightness(180%);
  }
  100% {
    filter: brightness(100%);
  }
}

@keyframes bright4 {
  0% {
    filter: contrast(150%);
  }
  48% {
    filter: contrast(130%);
  }
  60% {
    filter: contrast(110%);
  }
  100% {
    filter: contrast(100%);
  }
}

@keyframes shadow {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 1);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 1);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 1);
  }
}
#statsp {
  color: #b39c78;
}


.stats_toptowns_sideimg {
  /*filter: drop-shadow(0px 0px 3px black);*/
  width: 25px;
  height: 25px;
}

.stats_toptowns_tr_collie {
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
  /* background-image: linear-gradient(to left,   rgba(255,0,0,0), rgba(255,0,0,0),  #3e5a39);*/
  color: #65875e;
}
.stats_toptowns_tr_warden {
  color: #2d6ca1;
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
  /*background-image: linear-gradient(to left,   rgba(255,0,0,0), rgba(255,0,0,0),   #2c506f);*/
}

#stats_graph_gap {
  height: 5px;
}

#stats_timelapse_warselect {
  font-size: 16px;
  font-family: Jost;
  margin-left: 15px;
  background-color: #292929;
  border-top: 2px outset #242424;
  border-right: 2px outset #363636;
  border-bottom: 2px outset #363636;
  border-left: 2px outset #242424;
  border-radius: 1px;
  color: #b39c78;
  height: 33px;
  width: 85px;
  text-shadow: 1px 1px 1px black, 1px 2px 2px black;
}

#stats_timelapse_loader {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 30000;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  right: 30px;
  display: none;
  align-items: center;
  justify-content: center;
}
#stats_placeholder {
  width: 100vw;
  height: 100vh;
}
#stats_timelapse_loader div,
#stats_placeholder div {
  border: 50px solid #d6d6d6;
  border-top: 50px solid #65875e;
  border-bottom: 50px solid #2d6ca1;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
  display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#stats_placeholder div {
  margin-top: 14%;
  margin-left: 43%;
}
.stats_scount_tr td {
  text-align: left;
  padding-left: 28px;
}
#stats_tooltip_playersgraph {
  background-color: black;
}
